<div class="home__container">
	<section class="home__title text-white d-flex justify-content-between align-content-center animate__animated animate__backInDown animate__fast animate__delay-1s">
		<h5 class="my-auto">
			<i class="fas fa-home fa-fw"></i>
			HOME
		</h5>
		<button class="btn btn-danger font-weight-bold" (click)="logout()">
			<i class="fas fa-sign-in-alt fa-fw"></i>
			CERRAR SESION
		</button>
	</section>

	<section class="home__body text-white animate__animated animate__backInDown animate__fast">
		Hola Description
	</section>
</div>