:root {
  --animate-delay: 0.5s;
}

.home__container{
	overflow: auto;
	min-height: 100vh;
	background-image: linear-gradient(-80deg, #0be49b, #14cbd9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home__title {
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  background: #0F1023;
  border: 1px solid #11B1A8;
  box-shadow: 0 0 15px 0 #0c7563;
}

.home__body {
  width: 90%;
  min-height: 500px;
  padding: 20px;
  margin: 15px 0;
  border-radius: 5px;
  background: #0F1023;
  border: 1px solid #11B1A8;
  box-shadow: 0 0 15px 0 #0c7563;
}